src/flows/MarlowQuoteCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignLineItem</name>
        <label>AssignLineItem</label>
        <locationX>1110</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>rvarQuoteItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpptylineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarQuoteItem.Target_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpptylineItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarQuoteItem.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignQuoteItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOppty</name>
        <label>assignOppty</label>
        <locationX>966</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>rvarQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMarlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuoteItems</name>
        <label>assignQuoteItems</label>
        <locationX>1341</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>cvarQuoteItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvarQuoteItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpptylineItems</targetReference>
        </connector>
    </assignments>
    <interviewLabel>MarlowQuoteCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MarlowQuoteCreation</label>
    <loops>
        <name>LoopOpptylineItems</name>
        <label>LoopOpptylineItems</label>
        <locationX>1254</locationX>
        <locationY>72</locationY>
        <collectionReference>getOpportunityItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createQuoteItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateMarlow</name>
        <label>CreateMarlow</label>
        <locationX>1100</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>LoopOpptylineItems</targetReference>
        </connector>
        <inputReference>rvarQuote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createQuoteItems</name>
        <label>createQuoteItems</label>
        <locationX>1450</locationX>
        <locationY>64</locationY>
        <inputReference>cvarQuoteItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>507</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityItems</name>
        <label>getOpportunityItems</label>
        <locationX>662</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Quote</name>
        <label>New Quote</label>
        <locationX>822</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignOppty</targetReference>
        </connector>
        <fields>
            <name>New_Quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>rvarQuote.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarQuote.ExpirationDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarQuote.Ex_Works__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>rvarQuote.Development_Costing_Attached__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>rvarQuote.GPM_35__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>rvarQuote.Manufacturing_Cost_Attached__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarQuote.RFQ__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarQuote.RFQ_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarQuote.Terms__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>rvarQuote.Custom_or_modified_part_for_defense__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>true</isRequired>
                    <objectFieldReference>rvarQuote.Is_tooling_addressed__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarQuote.ITAR_Language__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cvarQuoteItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvarQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>rvarQuoteItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
</Flow>
