src/flows/Update_RMA_Request_Case_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Update RMA Request (Case Approvers)</description>
    <interviewLabel>Update RMA Request (Case Approvers)  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update RMA Request (Case Approvers)</label>
    <loops>
        <name>iterate_over_Case_Approvers</name>
        <label>iterate over Case Approvers</label>
        <locationX>424</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>CaseApprover</assignNextValueToReference>
        <collectionReference>CaseApprovers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getCFOUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_with_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_3D_Sensing_BU_GM</name>
        <label>get 3D Sensing BU GM</label>
        <locationX>183</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_Case_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseApprover.X3D_Sensing_BU_GM__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>threeDSensingBUGM</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Case_Approvers</name>
        <label>get Case Approvers</label>
        <locationX>214</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_Case_Approvers</targetReference>
        </connector>
        <object>Case_Approvers__mdt</object>
        <outputReference>CaseApprovers</outputReference>
        <queriedFields>CFO_User__c</queriedFields>
        <queriedFields>Data_n_W_BU_GM__c</queriedFields>
        <queriedFields>Optical_IC_BU_GM__c</queriedFields>
        <queriedFields>SVP_Of_Sales__c</queriedFields>
        <queriedFields>Wavelength_BU_GM__c</queriedFields>
        <queriedFields>X3D_Sensing_BU_GM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Data_N_W_BU_GM</name>
        <label>get Data N/W BU GM</label>
        <locationX>911</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Optical_IC_BU_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseApprover.Data_n_W_BU_GM__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>DataNWBUGMId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Optical_IC_BU_GM</name>
        <label>get Optical IC BU GM</label>
        <locationX>713</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SVP_Of_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseApprover.Optical_IC_BU_GM__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OpticalICBUGMId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_SVP_Of_Sales</name>
        <label>get SVP Of Sales</label>
        <locationX>510</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Wavelength_BU_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseApprover.SVP_Of_Sales__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SVPOfSales</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Wavelength_BU_GM</name>
        <label>get Wavelength BU GM</label>
        <locationX>353</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_3D_Sensing_BU_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseApprover.Wavelength_BU_GM__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>WavelengthBUGM</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCFOUser</name>
        <label>getCFOUser</label>
        <locationX>609</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Data_N_W_BU_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseApprover.CFO_User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CFOUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Users</name>
        <label>Update Case with Users</label>
        <locationX>731</locationX>
        <locationY>131</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_case_record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CFO_User__c</field>
            <value>
                <elementReference>CFOUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_n_W_BU_GM__c</field>
            <value>
                <elementReference>DataNWBUGMId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpticalIC_BU_GM__c</field>
            <value>
                <elementReference>OpticalICBUGMId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVP_of_Sales__c</field>
            <value>
                <elementReference>SVPOfSales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wavelength_BU_GM__c</field>
            <value>
                <elementReference>WavelengthBUGM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3DSensing_BU_GM__c</field>
            <value>
                <elementReference>threeDSensingBUGM</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>get_Case_Approvers</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Approvers__mdt</objectType>
    </variables>
    <variables>
        <name>CaseApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Approvers__mdt</objectType>
    </variables>
    <variables>
        <description>CFOUserId</description>
        <name>CFOUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DataNWBUGMId</description>
        <name>DataNWBUGMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>OpticalICBUGMId</description>
        <name>OpticalICBUGMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SVP Of Sales</description>
        <name>SVPOfSales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>3DSensingBUGMId</description>
        <name>threeDSensingBUGM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_case_record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WavelengthBUGM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
